
html {font-size: 30px;
    
}



#container> div{
    background-color: orangered;
    margin-bottom: 15px;
}




#pixels {
    width: 400px;    
}


#em{width: 20em;
    
}

#procenty
{ width: 50%;
    
}

#vh {
    width: 50vh;
    
}


p {
    background-color: skyblue;

}
